AgentTravel/bpelContent/services/AirlineReservation/AirlineReservation.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10 svn-revision#919b322c92f13ad085a933e8dd6dd35d4947364b. --><xs:schema xmlns:tns="http://ws.airline.soa.jael.lsd.ic.unicamp.br/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.airline.soa.jael.lsd.ic.unicamp.br/">

<xs:element name="bookTicket" type="tns:bookTicket"/>

<xs:element name="bookTicketResponse" type="tns:bookTicketResponse"/>

<xs:complexType name="bookTicket">
<xs:sequence>
<xs:element name="arg0" type="tns:reservation" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="reservation">
<xs:sequence>
<xs:element name="airline" type="xs:string" minOccurs="0"/>
<xs:element name="arriveDate" type="xs:string" minOccurs="0"/>
<xs:element name="departDate" type="xs:string" minOccurs="0"/>
<xs:element name="destination" type="xs:string" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="origin" type="xs:string" minOccurs="0"/>
<xs:element name="price" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="bookTicketResponse">
<xs:sequence>
<xs:element name="return" type="tns:reservation" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>