AgentTravel/bpelContent/services/HotelReservation/HotelReservation.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). 
	RI's version is JAX-WS RI 2.2.10 svn-revision#919b322c92f13ad085a933e8dd6dd35d4947364b. -->
<xs:schema xmlns:tns="http://ws.hotel.soa.jael.lsd.ic.unicamp.br/"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0"
	targetNamespace="http://ws.hotel.soa.jael.lsd.ic.unicamp.br/">

	<xs:element name="reserveRoom" type="tns:reserveRoom" />

	<xs:element name="reserveRoomResponse" type="tns:reserveRoomResponse" />

	<xs:complexType name="reserveRoom">
		<xs:sequence>
			<xs:element name="arg0" type="tns:reservation" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="reservation">
		<xs:sequence>
			<xs:element name="arrived" type="xs:string" minOccurs="0" />
			<xs:element name="confirmation" type="xs:boolean" />
			<xs:element name="country" type="xs:string" minOccurs="0" />
			<xs:element name="depart" type="xs:string" minOccurs="0" />
			<xs:element name="hotelName" type="xs:string" minOccurs="0" />
			<xs:element name="name" type="xs:string" minOccurs="0" />
			<xs:element name="price" type="xs:float" />
			<xs:element name="room" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="reserveRoomResponse">
		<xs:sequence>
			<xs:element name="return" type="tns:reservation"
				minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
</xs:schema>