AgentTravel/bpelContent/services/CarReservation/CarReservation.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). 
	RI's version is JAX-WS RI 2.2.10 svn-revision#919b322c92f13ad085a933e8dd6dd35d4947364b. -->
<xs:schema xmlns:tns="http://ws.car.soa.jael.lsd.ic.unicamp.br/"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0"
	targetNamespace="http://ws.car.soa.jael.lsd.ic.unicamp.br/">

	<xs:element name="rentCar" type="tns:rentCar" />

	<xs:element name="rentCarResponse" type="tns:rentCarResponse" />

	<xs:complexType name="rentCar">
		<xs:sequence>
			<xs:element name="arg0" type="tns:reservation" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="reservation">
		<xs:sequence>
			<xs:element name="carType" type="xs:string" minOccurs="0" />
			<xs:element name="country" type="xs:string" minOccurs="0" />
			<xs:element name="name" type="xs:string" minOccurs="0" />
			<xs:element name="price" type="xs:float" />
			<xs:element name="rentEndDate" type="xs:string" minOccurs="0" />
			<xs:element name="rentStartDate" type="xs:string"
				minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="rentCarResponse">
		<xs:sequence>
			<xs:element name="return" type="tns:reservation"
				minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
</xs:schema>